.block_people .teachers ul,
.block_people .teachers li {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

.block_people .teachers li {
    margin-bottom: 15px;
    display: table;
    width: 100%;
}

.block_people .teachers .details {
    display: table-cell;
    line-height: 1;
    vertical-align: top;
}

.block_people .teachers .image {
    width: 45px;
    display: table-cell;
    vertical-align: top;
}

.block_people .teachers .icons {
    min-height: 22px;
    padding-top: 3px;
}

.block_people .teachers .icons img,
.block_people .participants img {
    margin-right: 10px;
}

.block_people .content .teachers h3,
.block_people .content .participants h3 {
    font-size: 1.143rem;
    font-weight: bold;
}

.block_people .content .teachers .userpicture {
    height: inherit;
    width: inherit;
}

.block_people .participants .hint {
    font-size: 90%;
}
